body, body * {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.secondary-comp {
    background-color: #f0f0f0;
    /*border: 1px solid #d0d0d0;*/
}

.section-title {

}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.education-link {
    text-decoration: none;
}

.clickable-link {
    overflow: hidden;
}

@media (max-width: 767px) {
    .clickable-link {
        display: flex;
        align-items: center;
    }

    .clickable-link span {
        display: none;
    }
}

button.github {
    background-color: #2b3137;
    border: 1px solid #2b3137;
}

button.github:hover {
    background-color: #424b54;
    border: 1px solid #424b54;
}

.cuda {
    background-color: #76b900;
}

.c {
    background-color: #A4B3C5;
}

.cpp {
    background-color: #659ad2;
}

.pthreads {
    background-color: #B63E97;
}

.mpi {
    background-color: #0056A8;
}

.openmp {
    background-color: #096E77;
}

.opengl {
    background-color: #517F9C;
}

.java {
    background-color: #E11E23;
}

.javascript {
    background-color: #E4D04B;
}

.react {
    background-color: #00CDF2;
}

.nodejs {
    background-color: #4F9640;
}

.express {
    background-color: #7B7B7B;
}

.mongodb {
    background-color: #118B4B;
}

.redis {
    background-color: #BC2E29;
}

.kubernetes {
    background-color: #2F66D9;
}

.qt {
    background-color: #3EC34E;
}

.docker {
    background-color: #228EE1;
}
