.navbar {
    height: 50px;
    margin: 0 auto;
    text-align: center;
  }

.nav-link {
    padding: 13px 40px 13px !important;
    margin: 0px 15px 0px;
}

.navbar-text {
    margin-right: 10px;
}

.nav-link:hover {
    background-color: hsl(220, 13%, 28%);
}

.footer {
    background-color: hsl(220, 13%, 18%);
    color: hsl(220, 13%, 70%);
}

.material-icons {
    margin: auto;
}

.footer-icon {
    transform: scale(1.0);
}

.clickable-link {
    color: hsl(220, 13%, 90%);
    text-decoration: none;
}

.clickable-link:hover {
    color: hsl(220, 13%, 70%);
}
