.navbar {
    margin: 0 auto;
    text-align: center;
}

.nav-link {
    padding: 13px 40px 13px !important;
    margin: 0px 15px 0px;
    border-radius: 8px;
    cursor: pointer;
}

.navbar-text {
}

.nav-link:hover {
    background-color: hsl(220, 13%, 28%);
}

.material-icons {
    margin: auto;
}

.footer-icon {
    transform: scale(1.0);
}

.clickable-link {
    color: hsl(220, 13%, 20%);
    text-decoration: none;
}

.clickable-link:hover {
    color: hsl(220, 13%, 40%);
}
